<div class="grid-container" style="height: 400px;">
  <img src="moviefunia/src/assets/movie.png">

</div>
<div class="grid-container">
  <h1 class="mat-h1">Now Playing</h1>
  <mat-grid-list cols="5" rowHeight="400px">
    <mat-grid-tile *ngFor="let card of cards | async" [colspan]="card.cols" [rowspan]="card.rows">
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>
            {{card.title}}
          </mat-card-title>
        </mat-card-header>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>
<div class="grid-container">
  <h1 class="mat-h1">Upcoming Movies</h1>
  <mat-grid-list cols="5" rowHeight="400px">
    <mat-grid-tile *ngFor="let card of cards | async" [colspan]="card.cols" [rowspan]="card.rows">
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>
            {{card.title}}
          </mat-card-title>
        </mat-card-header>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>
